@import "../theme/theme.scss";

.fi-header {
  margin-top: 50px;
  display: flex;
  align-items: center;

  &__title {
    font-size: 1.9rem;
    margin-left: 10px;
    color: $color-secondary;
    font-weight: 500;
  }
}
