@import "../../theme/theme.scss";

.fi-input {
  padding: 15px 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
}

.fi-input__error {
  background-color: $color-error;
  color: #fff;
  padding: 8px 10px;
  font-size: 0.8rem;
}

.fi-bookmark__edit--error {
  color: $color-error;
  font-weight: 800;
}

.fi-input__label {
  display: block;
}
