@import "../../theme/theme.scss";

.fi-button {
  border: none;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &.fi-button__add {
    padding: 10px 20px;
    margin-top: 10px;
    width: 100%;
    font-size: 0.8rem;
    text-transform: uppercase;
    background-image: linear-gradient(
      to right,
      $color-secondary,
      $color-tertiary
    );
    color: #fff;
  }

  &.fi-button__delete {
    margin-left: 3px;
  }
}
